* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #1E1E1E;
  --light-gray: #2E2E2E;
  --green-accent: #05F7C0;
  --dark-green: #19b994;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: var(--dark-gray);
  min-width: 320px;
}

body {
  margin: 0;
  padding: 3vh 2rem;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.page-title {
  margin: 2rem;
  text-align: center;
  text-shadow: 0 0 0.5rem rgb(105, 103, 103);
}

button {
  display: flex;
  border: 0px;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--green-accent);
  box-shadow: 0 0 3px rgb(105, 102, 102) inset;
}

button:hover {
  background-color: var(--dark-green);
}

.keyButton {
  margin: 1rem auto;
}

.account-info-container {
  border-radius: 1rem;
  background-color: var(--light-gray);
  padding: 0 0.5rem;
}

.account-row {
  padding: 0.5rem;
  /* padding-left: 2rem; */
  display: grid;
  grid-template-columns: 30% 28% 25% 1fr;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0 4px rgb(21, 22, 21);
  font-size: 0.9rem;
}

@media (max-width: 450px) {
  .account-row {
    padding: 0.5rem;
    font-size: 0.7rem;
  }

  button {
    padding: 0.3rem;
  }
}

.password--text {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.account-row--button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  margin-top: 2rem;
}